    <div class="col-lg-12">
        {{#if article}} {{#each article}}
        <div class="card">
            <div class="card-header">
                <h4>{{this.title}}</h4>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <p> {{this.summary}}</p>
                <a href={{this.link}} target="_blank">{{this.link}}</a>
                <br>
                <br>
                <button type="button" class="btn btn-primary save" data-id={{this._id}}>Save Article</button>
            </div>
        </div>
        {{/each}} {{else}}
        <div class="card">
            <div class="card-body">
                <h4 style="color:blue">Please scrape to get articles</h4>
            </div>
        </div>
        {{/if}}
    </div>
</div>